
.page-header {
    color:#37bff5;
    padding: 25px;
    font-family: 'Dancing Script', cursive;
}

.container {
    padding: 70px;
    margin: 50px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    /* display: flex;
    flex-wrap: wrap */
}

article {
    background-color: white;
    padding: 10px;
}

body {
    background-image: url("./Photos/background3.jpg");
}

nav {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

a.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

.bg-light {
    background-color: #37bff5 !important;
}

.page-header {
    margin-left: 30px;
    margin-bottom: 0px;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
}

#main-content {
    padding-top: 0px;
}

figure {
    padding: 50px;
}

form {
    background-color: white;
    width: 50%;
    margin: 20px;
    padding: 50px;
}

#portfolio-image {
    margin-bottom: 30px;
    margin-left: 30px;
}

#brand-statement {
    position: relative;
    padding: 45px;
}

footer {
    color:#37bff5;
    opacity: 85%;
    margin-bottom: 0px;
}

#footer-text {
    width: fit-content;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

